<section>
    <div class="container pt-5
    ">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-5">
                <a href="/admin/settings/profile">
                    <button class="adSetButton slide_down"><i class="iconbuton bi bi-file-person-fill"></i> Profile</button>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-5">
                <a href="/admin/settings/create-admin">
                    <button class="adSetButton slide_down"><i class="iconbuton bi bi-person-plus-fill"></i> Create new admin</button>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                <a href="/admin/settings/all-admin">
                    <button class="adSetButton slide_down"><i  class="iconbuton bi bi-stack"></i> All Admins</button>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-5">
                <a href="">
                    <button class="adSetButton slide_down"><i class="iconbuton bi bi-tags-fill"></i> Policy</button>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-5">
                <a href="/admin/settings/artist-forms">
                    <button class="adSetButton slide_down"><i
                class="glyphicon glyphicon-list"></i></i> To artist forms</button>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-5">
                <a href="/admin/settings/artist-trash">
                    <button class="adSetButton slide_down"><i class="bi bi-trash-fill"></i> Artist Trash</button>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-5">
                <a href="/admin/settings/user-trash">
                    <button class="adSetButton slide_down"><i class="bi bi-trash-fill"></i> User Trash</button>
                </a>
            </div>
        </div>
    </div>
</section>