<section class="pt-5">
    <div class="cantainer">
        <div class="pt-5">

        <div class="SPdiv">
            <h2 class="text-center">Order Succesfully...</h2>
        </div>
        {{#if artist}}
         <div class="SPdiv">
            <a href="/artist/my-orders" ><button class="SPorderButton2">Your Orders</button></a>
        </div>
        {{else}}
         <div class="SPdiv">
            <a href="/my-orders" ><button class="SPorderButton">Your Orders</button></a>
        </div>
        {{/if}}
        </div>
    </div>
</section>